/* Full-width inputs */
input[type=text], input[type=password],input[type=email] {
  margin-left: 670px ;
background-color:lightgray;
padding:3px;
border:2px solid black;
border-radius:7px;
outline:none;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

label{
color:yellow;
}


